//- ------------------------------------
//- extend
//-
extends /layouts/default

//- ------------------------------------
//- variables this page
//-
block append variables
  - const TITLE = 'AWESOME TITLE'
  - const DESCRIPTION = 'AWESOME DESCRIPTION'
  - const ldJson = { hoge: 'hoge' }

//- ------------------------------------
//- style this page
//-
block style
  //- example
  //- link(rel="stylesheet", href="css/style.css")

//- ------------------------------------
//- script this page
//-
block scripts
  //- example
  script(src='js/index.js')

//- ------------------------------------
//- content this page
//-
block content
  h1
    = domain
    | hoge
    br
    = URL
    | hoge

  script(type='application/ld+json')= JSON.stringify(ldJson)
