{% extends 'layout/layout.html' %}

{% block content %}
<section><h1          class="hoge">{{ TITLE }}</h1></section>
<h2>{{ PATH }}</h2>
<h3>{{ DOMAIN_NAME }}</h3>
<h4>{{ DESCRIPTION }}</h4>

{% endblock %}
