:root {
  --fontFamily:
    'ヒラギノ角ゴ ProN W3',
    'Hiragino Kaku Gothic ProN',
    'メイリオ',
    meiryo,
    '游ゴシック',
    yugothic,
    sans-serif;
  --lineHeight: 1.7;
  --colorFont: #000;
  --sizeM: 768px;
}
