@import 'assets/variable.postcss';
@import 'assets/custom-media.postcss';
@import 'assets/reset.postcss';
@import 'assets/base.postcss';

body {
  color: var(--colorFont);
}

a {
  &:hover {
    color: red;
  }

  & img {
    opacity: 0;
  }

  @media (--viewportSp) {
    margin-block: 0;
  }
}

.fuga {
  display: grid;
}

.flex {
  display: flex;
  flex-direction: column;
}
